/* header */

.header {
  height: 105px;
  display: grid;
  grid-template-columns: 3fr 148px 1.25fr 1.75fr;
  grid-template-areas: "header__menu header__logo . address";
  align-items: center;
  margin: 92px 24px 96px;
}

.header__menu {
  grid-area: header__menu;
  justify-self: flex-start;
  padding-left: 30px;
}

.header__links-list {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.header__links-list-item {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border: none;
}

.header__logo {
  grid-area: header__logo;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  grid-area: address;
  font-style: normal;
}

.header__contacts {
  text-decoration: none;
  border-bottom: 1px solid black;
  line-height: 24.3px;
  font-weight: 400;
  font-size: 18px;
}

.header__address {
  max-width: 237px;
  width: 100%;
  justify-self: end;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  padding-top: 1px;
}

/* cover */

.cover {
  background-image: url("../images/cover.jpg");
  min-height: 757px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.cover__title {
  text-transform: uppercase;
  padding: 165px 50px 135px;
}

.aligned-text {
  display: block;
  font-weight: 700;
  line-height: 115px;
  color: #ffffff;
  font-size: 100px;
  position: relative;
  z-index: 1;
}

.aligned-text_center {
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
}

.aligned-text_right {
  text-align: right;
  line-height: 100px;
  margin-top: 20px;
}

.no-letter-spacing {
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.cover__description {
  display: flex;
  align-items: center;
  gap: 79px;
}

.cover__description-text {
  position: relative;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.8em;
  margin-left: 78px;
}

.bet-button {
  position: relative;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
}

/* lots */

.lots {
  margin: 179px 24px 146px;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
  flex-grow: 1;
}

.card {
  width: 334px;
  height: 563px;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__card-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 464px;
  margin-top: 51px;
  text-decoration: none;
}

.card__title {
  text-decoration: underline;
  text-underline-offset: 3px;
  display: inline;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  color: #fff;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  width: 254px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  z-index: 1;
  color: #fff;
  white-space: inherit;
  max-width: 254px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400px;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: none;
  border-bottom: 1px solid black;
}

/* about */

.about__column {
  display: grid;
  justify-content: center;
  grid-template-columns: 359px 693px;
  grid-template-rows: 275px 320px;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: about__logo;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  grid-area: about__title;
}

.about__text {
  align-self: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  grid-area: about__text;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* footer */

.footer {
  margin: 180px 50px 88px;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  max-width: 237px;
  width: 100%;
  justify-self: end;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  padding-top: 1px;
}

.footer__contacts {
  text-decoration: none;
  border-bottom: 1px solid black;
  line-height: 24.3px;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-link {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.footer__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
  width: 48px;
  height: 48px;
}
